/*============================================================================
	#00.staff-area-style
==============================================================================*/
.staff-area{
  position: relative;
}

.staff{
  margin-bottom: 50px;
  img{
    margin-bottom: 50px;
  }
  .staff__office-name{
    margin-bottom: 40px;
  }
}